body {
    height: 100vh !important;
}

p {
    margin-bottom: 8px !important;
}

/*
* utils
*/

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.mg-bt-14 {
    margin-bottom: 14px;
}

.pd-64 {
    padding: 64px;
}

